* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 90vw;
  height: 10vh;
  background-color: black;
  display: flex;
  margin: 0 auto;
}
.nav_logo {
  background: #99823d;
  height: 20vh;
  width: 326px;
}
